
// =============================
// PALETTE DE COULEURS
// =============================


// Couleurs de fond
$light-primary: rgb(255, 255, 255);
$light-secondary: rgb(250, 248, 245);

// Couleurs de texte
$dark-primary: rgb(0, 0, 0); // texte principal
$dark-primary-80: rgb(0, 0, 0), 0.8;
$dark-secondary: rgb(0, 9, 43);

// Couleurs d'état
$state-error: rgb(228, 15, 15);
$state-error-dark: rgb(165, 10, 10);
$state-success: rgb(4, 123, 0);

// Toast
$toast-background: rgb(255, 255, 255);
$toast-text: rgb(0, 0, 0);
$toast-close: rgb(0, 0, 0);
$toast-progress: rgba(0, 0, 0);
$toast-progress-80: rgba(0, 0, 0, 0.8);
$toast-success: rgba(4, 123, 0, 1);
$toast-warning: rgba(188, 116, 0, 1);
$toast-error: rgba(165, 10, 10, 1);

// =============================
// BREAKPOINTS
// =============================
$breakpoints: (
  "mobile": 480px,
  "tablet": 768px,
  "desktop": 1200px,
  "wide": 1440px
);

// =============================
// VARIABLES CSS POUR :root
// =============================
:root {
  // Background
  --light-primary: #{$light-primary};
  --light-secondary: #{$light-secondary};

  // Text
  --dark-primary: #{$dark-primary};
  --dark-primary-80: #{$dark-primary-80};
  --dark-secondary: #{$dark-secondary};

  // State
  --state-error: #{$state-error};
  --state-success: #{$state-success};

  // Toast
  --toast-background: #{$toast-background};
  --toast-text: #{$toast-text};
  --toast-close: #{$toast-close};
  --toast-progress: #{$toast-progress};
  --toast-progress-80: #{$toast-progress-80};
  --toast-success: #{$toast-success};
  --toast-warning: #{$toast-warning};
  --toast-error: #{$toast-error};

}