@use 'abstracts' as *;  // Import toutes les abstracts
@use 'base/reset';

* {
    font-family: $font-primary;
}


.Toastify__toast {
  background: $bg-surface !important;
  color: $text-primary !important;
  font-size: 0.8rem;
}

.Toastify__close-button {
    opacity: 0.5 !important;
    color: $text-primary !important;
    &:hover {
        opacity: 1 !important;
    }
}

.Toastify__progress-bar {
  background-color: $text-primary !important;
}

.Toastify__progress-bar--bg {
  background-color: $text-primary-80 !important;
}

.Toastify__toast-icon {
    transform: scale(0.9);
    color: $state-error !important;
}